body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f5f5f5;
    
}   

#tablero {
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(11, 1fr);
    width: 90vmin;       /* cuadrado responsivo */
    aspect-ratio: 1 / 1; /* mantiene proporción */
    background: rgb(241, 244, 232);
    gap: 0;
    border: 3px solid black;
    position: relative;
}

.casilla {
  border: none;
  margin: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: clamp(7px, 1.3vw, 13px);
  font-weight: 600;
  text-align: center;
  padding: 2px;
  box-sizing: border-box;
  background: #fafafa;
  border-radius: 6px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

.color-bar {
  width: 100%;
  height: 20%;
  border-bottom: 1px solid black;
  border-radius: 6px 6px 0 0; /* esquinas superiores redondeadas */
}

/* Colores de fondo por tipo */
.casilla.tax {
  background: #f9b8b8; 
}
.casilla.chance {
  background: #b3d5f5; 
}
.casilla.community_chest {
  background: #b8f8b8; 
}
.casilla.railroad {
  background: #a8a8a8; 
}
.casilla.special {
  background: #e4d681; 
}

.centro {
    grid-row: 2 / 11;
    grid-column: 2 / 11;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: white;
}

.logo-monopoly {
    max-width: 300%;
    height: auto;
    margin-bottom: 40px;
}

.cartas {
  display: flex;
  gap: 60px; /* espacio entre cartas */
}

.cartas img {
    max-width: 200px;
    height: 120px;
    margin: 20px;
}

/* Las abreviaciones */
.casilla .abreviacion {
    display: none;
}

/* Fondo oscuro */
#detalleModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;                /* oculto por defecto */
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Contenido de la caja */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 320px;
  text-align: center;
}

/* Botón de cerrar */
#cerrarModal {
  margin-top: 15px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: white;
  cursor: pointer;
}

#cartaCentro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  display: none;
  z-index: 1200;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#cartaCentro img {
  max-width: 300px;
  max-height: 300px;
  /* object-fit: contain; */
  margin-bottom: 15px;
}

#cartaCentro p {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}


@media (max-width: 600px) {
    .casilla .nombre-completo {
    display: none;
    }
    .casilla .abreviacion {
    display: inline;
    }
}
